<%-include('../Includes/Header.ejs')%>
<link rel="stylesheet" href="/CSS/registration.css">
</head>
<body>

<%-include('../Includes/Navigation.ejs')%>

<h1>Registration Form</h1>

<div class="container">

    


  <form action="/regPostValue" method="POST">

      <input type="hidden"  name="_csrf" value="<%=csrf_token%>">

      <div class="row">
        <div class="col-25">
          <label for="fname">First Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="u_fname" placeholder="Your first name..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Last Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="u_lname" placeholder="Your last name..">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label >Email</label>
        </div>
        <div class="col-75">
          <input type="text" id="email" name="u_email" placeholder="Your email..">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label >Password</label>
        </div>
        <div class="col-75">
          <input type="text" id="password" name="u_pass" placeholder="Create password..">
        </div>
      </div>
     
      <%if(errorMsg){%>
        <div class="err"><%=errorMsg%></div>
     <%}%>
     
    
      <div class="row">
        <input type="submit" value="Registration" class="submit">
        <h5 class="reg1">Already Registered? <a class="reg2" href="/login">Login here</a></h5>
      </div>
      <%if(error.length>0){%>
        <%for(let err of error){%>  
<div><h6 class="erormsg"><%=err.msg%></h6></div>
        <%}%>
        <%}%>
    </form>
  </div>

<%-include('../Includes/Footer.ejs')%>



